@import 'simpledotcss/simple.css';

.disclaimer {
  font-size: 0.7rem;
  text-align: justify;
}

.icon {
  vertical-align: sub;
  padding-right: 0.25rem;
  display: inline-block;
  width: 1em;
  height: 1.3em;
  margin-right: 0.2rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
